@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 1.6rem;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #000;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    transition: .5s;
}

.content {
    padding: 25px;
    overflow: hidden;
}

.section {
    position: relative;
}

/* #region sidenav */

.my-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #46295A;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s ease-in-out;
}

.my-sidenav a {
    margin: 8px 8px 32px 32px;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 500;
    color: #f1f1f1;
    display: block;
    transition: 0.3s ease-in-out;
}

.nav-links {
    margin-top: 52px;
}

.my-sidenav a:hover {
    color: #AEF359;
}

.my-sidenav .closebtn {
    position: absolute;
    top: 20px;
    font-size: 4.8rem;
}

.openbtn {
    position: absolute;
    top: 25px;
    right: 50px;
    z-index: 9;
    font-size: 4.8rem;
    cursor: pointer;
}

.openbtn i {
    transition: 0.3s;
}

.openbtn i:hover {
    color: #AEF359;
}

/* #endregion */

/* #region Primeira Seção */

.first-section {
    width: 100%;
    height: 640px;
    background-image: url(/src/bgs/first-section-bg.png);
    background-position: top;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    float: left;
    z-index: 1 !important;
    transition: all 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.logo-img {
    width: 100%;
}

.descubra {
    position: absolute;
    right: 180px;
    bottom: 150px;
    font-size: 4.8rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.descubra:hover {
    color: #AEF359;
    transform: translateX(20px);
}

.fa-chevron-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #f1f1f1;
    font-size: 4.8rem;
    cursor: pointer;
    transition: 0.2s;
}

.fa-chevron-down:hover {
    color: #AEF359;
    transform: translateX(-50%) scale(1.1);
}

/* #endregion */

/* #region Segunda Seção */

.second-section {
    z-index: 2 !important;
    width: 100%;
    height: 100vh;
    background-color: #FCE205;
}

.second-section .hian {
    width: 50%;
    position: relative;
    bottom: 0;
}

.second-section h1 {
    font-size: 6em;
    text-align: center;
    margin-top: 5%;
    color: #46295A;
}

.second-section .texto {
    display: block;
    width: 400px;
    height: 400px;
    position: absolute;
    right: 150px;
    font-weight: 600;
    font-size: 2em;
    color: #663C84;
    text-align: center;
    top: 70%;
    transform: translateY(-50%);
    overflow-y: hidden;
}

.saiba-mais {
    margin: 0 auto;
    margin-top: 40px;
    background-color: #46295A;
    padding: 10px 30px;
    border-radius: 30px;
    width: 80%;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.saiba-mais a {
    color: #f1f1f1;
    text-decoration: none;
}

.saiba-mais:hover {
    transform: scale(1.1);
}

.circulo-promo {
    position: absolute;
    right: -30%;
    top: 50%;
    transform: translateY(-50%);
    height: 800px;
    width: 800px;
    filter: blur(5px) opacity(.1);
}

/* #endregion */

/* #region Terceira Seção */

.third-section {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(#4C79FF, #1d2f63);
    z-index: 3;
}

.fundo-produtos {
    position: absolute;
    height: 100%;
    width: 1200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: opacity(.1) blur(10px);
}

.third-section .title-produtos {
    width: 100%;
    text-align: center;
    font-size: 2.7em;
    display: block;
    color: #FCE205;
    margin-top: 3%;
}

.produtos {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.lata {
    text-align: center;
    transition: 0.2s;
    color: #FCE205;
    position: relative;
}

.lata .lata-img {
    width: 170px;
}

.lata h1 {
    font-weight: 500;
}

.lata:hover {
    color: #FCE205;
    transform: scale(1.1);
    cursor: pointer;
}

.novo {
    width: 150px;
    position: absolute;
    transform: rotate(-20deg);
    border-radius: 5px;
    left: -25%;
}

/* #endregion  */

/* #region Rodapé */

footer {
    height: 240px;
    width: 100%;
    background-color: #e2e2e2;
    position: relative;
    padding: 0 10%;
}

footer .footer-logo {
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.texto-rodape {
    position: absolute;
    color: #9B1003;
    font-weight: 600;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 1.2em;
    line-height: 35px;
}

.texto-rodape a {
    text-decoration: none;
    color: #9B1003;
}

.texto-rodape a:visited {
    color: #9B1003;
}

.icones-rodape {
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

/* #endregion */

@media (max-width: 2560px) {}

@media (max-width: 1440px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}